<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
    <param name="intrinsic_path"        value="$(find automatic-camera-pointcloud-calibration)/data/parameters/intrinsic.txt" />  <!-- intrinsic file -->
    <param name="extrinsic_path"        value="$(find automatic-camera-pointcloud-calibration)/data/parameters/extrinsic_true.txt" />  <!-- extrinsic file -->
  
    <param name="input_bag_path"        value="$(find automatic-camera-pointcloud-calibration)/data/lidar/11_board_lidar_xingzheng.bag" />  <!-- rosbag to give the lidar info -->
    <param name="input_photo_path"      value="$(find automatic-camera-pointcloud-calibration)/data/photo/xing.jpg" />  <!-- photo to get RGB info -->

    <param name="threshold_lidar"       type="int" value="500" />  <!-- the limit of messages to transfer to the pcd file, 80 means maximum 80 messages of lidar -->
    
  <node pkg="automatic-camera-pointcloud-calibration" name="colorLidar" type="colorLidar" output="screen"></node>
  
  <node name="rviz" pkg="rviz" type="rviz" respawn="true" args="-d $(find automatic-camera-pointcloud-calibration)/launch/color_lidar.rviz"/>

</launch>

