<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <param name="input_bag_path"        value="$(find automatic-camera-pointcloud-calibration)/data/lidar/3.bag" />  <!-- rosbag file -->
    <param name="temp_path"           value="$(find automatic-camera-pointcloud-calibration)/data/temp.txt" />  <!-- path to save new photo file -->
    <param name="output_path"           value="$(find automatic-camera-pointcloud-calibration)/data/projection/calib_project.bmp" />  <!-- path to save new photo file -->

    <param name="threshold_lidar"       type="int" value="1000000" />  <!-- the maximum points shown on the photo -->

    <node pkg="automatic-camera-pointcloud-calibration" name="feature_extraction_pointcloud" type="feature_extraction_pointcloud" output="screen"></node>

</launch>

